


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
  overflow: hidden;
}

body {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.address-based-transaction-form-container {
  width:400px;
  height: 100vh;
  margin: 0px auto;
}

.address-based-transaction-form {
  background-color: #000;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
  width:400px;
  margin: 0px auto;
  height: 100vh;
}

.form-heading {
  text-align: center;
  font-size: 20px;
  color: #000;
  margin-bottom: 10px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

.form-group {
  margin-bottom: 15px;
}

label {
  color: #fff;
  display: block;
  margin-bottom: 5px;
  font-family: Arial, Helvetica, sans-serif;
}

input,
select {
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background-color: white;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
}

.button_class {
  width: 100%;
  padding: 10px;
  background-color: #0066cc;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
  background: linear-gradient(90deg, #007bff9f, #800080);
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 10px;
}

.error-message {
  color: #ff4d4d;
  margin-top: 10px;
  text-align: center;
}

select option {
  background-color: #333; 
  color: white;
}




.customAlert {
  position: fixed;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: gray;
  color: white;
  padding: 10px;
  border-radius: 10px;
  z-index: 1000;
  width: 45%;
  max-width: 245px;
  text-align: center;
}

.customAlert p {
  margin: 0 0 15px;
  font-family: Arial, Helvetica, sans-serif;
}

.closeButton {
  background-color: #f0f0f0;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  color: black;
  font-weight: bold;
  width: 30%;
}

.setting_back_icon {
  margin-right: 20px; 
  color: #fff; 
  font-size: 26px; 
}
.back_container{
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}
