* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
  overflow: hidden;
}

.qr-scanner-container {
  width: 400px;
  margin: 0px auto;
  padding: 25px;
  border: 1px solid #ddd;
  border-radius: 8px;
  text-align: center;
  background-color: black;
  height: 100vh;
  overflow: hidden; /* Prevents scrolling */
}

.scan-button,
.cancel-button {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px;
  font-family: Arial, Helvetica, sans-serif;
}

.scan-button {
  background-color: #4caf50;
  color: white;
}

.cancel-button {
  background-color: #f44336;
  color: white;
}

.scanner-wrapper {
  position: relative;
  display: inline-block;
  height: 300px;
  width: 250px;
}

.amount-form {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.amount-form label {
  display: block;
  margin-bottom: 10px;
  font-family: Arial, Helvetica, sans-serif;
}

.amount-form input {
  padding: 5px;
  color: black;
  margin-bottom: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

.button_class {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  margin-top: 20px;
  background: linear-gradient(90deg, #007bff9f, #800080);
  font-family: Arial, Helvetica, sans-serif;
}

.heading {
  color: white;
  font-weight: bold;
}

.amount_label {
  color: white;
  text-align: left;
}

.currency-form1 {
  margin: 0 auto;
  border: 1px solid black;
  border-radius: 5px;
  background-color: black;
  display: flex;
  flex-direction: column;
}

.customAlert {
  position: fixed;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: gray;
  color: white;
  padding: 10px;
  border-radius: 10px;
  z-index: 1000;
  width: 45%;
  max-width: 245px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.customAlert p {
  margin: 0 0 15px;
}

.closeButton {
  background-color: #f0f0f0;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  color: black;
  font-weight: bold;
  width: 30%;
}

.setting_back_icon {
  margin-right: 20px; 
  color: #fff; 
  font-size: 26px; 
}

.back_container {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}

.no-scroll {
  overflow: hidden;
}

.currency_type_drop_down{
  width: 100%;
  padding: 8px;
  font-size: 16px;
  margin-top: 10px;
}

.currncy_name{
    display: block;
    margin-bottom: 8px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
}